<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 order-lg-2">
                <div class="social-links mt-4 ml-2">
                    <a href="https://github.com/luloop/apiNodeJS"><i class="fa fa-github"></i></a>
                    <a href="https://www.instagram.com/luloop2/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/lucila-rizzi-6754731b/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.behance.net/luloop"><i class="fa fa-behance"></i></a>
                    <a href="mailto:lucilarizzi@gmail.com"><i class="fas fa-envelope-open-text"></i></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 order-lg-1 mx-auto">
                <img src="../../assets/img/logo.png" alt="">
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->
<div class="copyright " hidden>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;
    <script>
        document.write(new Date().getFullYear());
    </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>